.row, .col-md-6 {
    padding: 0;
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-details-container {
    font-size: 20px;
}

.content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
}

.content-info h1 {
    font-size: 1.25em;
    letter-spacing: -0.015em;
}

.content-info p {
    font-size: 0.9em;
    letter-spacing: -0.025em;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 12px 10px;
    width: 300px;
}

.base-card {
    background-color: #F25E3D;
}